<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.BPFillingSystemConnectionString"
            connectionString="Data Source=WIN7;Initial Catalog=BPFillingSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.ERmgrUIPConnectionString"
            connectionString="Data Source=WIN7;Initial Catalog=ERmgrUIP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.ImageS8SongThanConnectionString"
            connectionString="Data Source=THINKPADX201\SQLEXPRESS;Initial Catalog=ImageS8SongThan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.OcracleConnection"
            connectionString="Data Source=LMST;Persist Security Info=True;User ID=printer;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>